@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-family: 'Roboto',sans-serif;
}

body
{
    background-color: #e9e9e9;
}

header
{
    text-align: center;
    margin: 2vh 0;
}

h1
{
    font-size: 80px;
}

main
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    padding: 0 3vw;
}

.grid
{
    justify-self: center;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    border: black solid 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px;
    height: 610px;
    width: 610px;
    background-color: #ffffff;
}

.input-section
{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    background-color: #111111;
    color: #ffffff;
    padding: 5vh 3vw;
    border-radius: 50px;
    width: 23vw;
}

#color
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 7vw;
    height: 10vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#color::-webkit-color-swatch
{
    border-radius: 15px;
    border: #ffffff solid 1px;
}

#color::-moz-color-swatch
{
    border-radius: 15px;
    border: #ffffff solid 1px;
}

button
{
    width: 15vw;
    height: 4vh;
    border: none;
    border-radius: 8px;
}

button:hover
{
    border: #ffffff solid 1px;
    background-color: #292929;
    color: #ffffff;
}

.mode:focus
{
    background-color: #325ebe;
}

.active-text
{
    font-size: 20px;
    font-weight: bold;
}
